# dependencies
node_modules/

# Expo (IMPORTANT)
.expo/
dist/
web-build/

# build
build/
coverage/

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/


# Ignore android everywhere
 mernn_foods/android/
 mernn_foods/ios/